.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
frames/
FugueCSharpMinor Project/
FugueCSharpMinor.mp3
FugueCSharpMinor.wav
PersianGameLife.mp4
data/persia-map-film-grain.png
data/persia-map.jpg
persian1.mp4
persian2.mp4
persian3.mp4
